
.App {
    text-align: center;
}


html body {

    background-color: white;
}

#app {
    background-color: white;
    border-radius: 10px;
    position: absolute;
    padding: 1%;
    left: 15%;
    width: 70%;
    top: 13%;
}

#button {
    text-align: center;
    border-radius: 5px;
    position: absolute;
    width: 10%;
    margin-top: 1%;
    font-size: 1.3vw;
    background-color: cornflowerblue;
    border-color: cornflowerblue;
}

#register {
    text-align: center;
    padding-top: 1%;
    font-size: 1.3vw;

}


.big-text {
    font-size: 1.4vw;

}


.chat-sec {

    height: 96%;
    top: 0%;
    bottom: 0%;
    border-radius: 25px;
    padding: 2%;
    margin: 1%;
    background-color: rgba(40, 44, 52, 0.09);

}

.chat-nav {
    text-align: center;
    height: 7%;
    background-color: white;
}


.chat-box {
    position: fixed;
    top: 13%;
    bottom: 9%;
    width: 100%;
    padding-right: 2%;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.send-sec {
    position: absolute;
    bottom: 2px;
    width: 94%;
    height: 7%;

}
.message-image{
    width: 100%;
}

.send-input {
    position: absolute;
    height: 100%;
    width: 90%;
    right: 0%;
    background-color: #eaeaea;
}

.send-bottom {
    position: absolute;
    right: 0%;
    height: 100%;
    border-radius: 10%;
}


.file-bottom {
    position: absolute;
    width: 5%;
    left: 5%;
    height: 100%;
    border-radius: 0%;
}

.message {
    padding: 10px 0;
    --bs-gutter-x: 0rem;
}

.chat-page-background {
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("./BackgroundPic.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.log-reg-background {
    position: fixed;
    width: 100%;
    background-image: url("./BackgroundPic.jpg");
    background-color: #282c34;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#chatNav {
    padding-bottom: 2%;
    background-color: rgba(40, 44, 52, 0.0);
    border-bottom: 2px solid rgba(107, 107, 107, 0.31);
}

#message-border {
    border-radius: 5px;
    border: 1px solid rgb(2, 106, 255, 0);
    background-color: rgba(40, 44, 52, 0.07);
}

#transparent-btn {

}


.last-message-image {
    position: relative;
    left: 43%;
    width: 7%;
}


@keyframes typingAnimation {
    0% {
        content: '.';
    }
    33% {
        content: '..';
    }
    66% {
        content: '...';
    }
}

.typing-animation::after {
    content: '';
    animation: typingAnimation 1.5s 2;
}

